@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
/** { 
	width: 0 auto;
    margin: 0 auto;
	background-color: green;
	 }*/
.button-style, .header #sellButton, .logInBox #sign-in-button, .logInBox #register-button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.page-header {
  padding-top: 5%;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-weight: bold; }

@media (min-width: 320px) and (max-width: 480px) {
  .logInBox {
    font-size: 13px;
    min-width: 90%; } }
@media (min-width: 481px) and (max-width: 575px) {
  .logIn {
    padding-top: 20% !important; }

  .logInBox {
    min-width: 75%;
    font-size: 15px; }

  #logoMain {
    height: 80%; } }
@media (min-width: 768px) and (max-width: 991px) {
  #logoMain {
    height: 50%; } }
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

h1 {
  color: red;
  font-size: 25px; }

.header .nav-link {
  color: white;
  background-color: #15224F;
  height: 30px;
  text-align: right; }
.header .searchbar {
  height: 100%;
  background-color: #014FB3;
  color: white;
  height: 80px;
  padding-left: 60px;
  padding-right: 60px; }
.header #sellButton {
  margin: 10% 0px;
  background-color: #FFE11B;
  padding: 10px 15px;
  width: 100%; }
.header #logoMain {
  height: 11%; }

.footer {
  background-color: #15224F;
  color: white; }
  .footer .footerImarket {
    color: white;
    font-size: 15px; }
  .footer li {
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }
  .footer .footer-title {
    color: #FFE11B;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px; }
  .footer .footer-title::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px; }
  .footer .footer-links {
    text-transform: uppercase;
    text-align: left;
    list-style-type: none;
    padding-left: 0; }
  .footer .title-median {
    color: yellow;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif; }

.logIn {
  padding-top: 3%; }
  .logIn #iMARKET-icon {
    width: 100px;
    height: 100px; }

.logInBox {
  padding: 2%;
  margin-top: 1%;
  width: 25%;
  min-height: 350px;
  border: 1px solid #d6d6c2;
  -webkit-box-shadow: 0px 0px 29px -6px #014fb3;
  -moz-box-shadow: 0px 0px 29px -6px #014fb3;
  box-shadow: 0px 0px 29px -6px #014fb3; }
  .logInBox #sign-in-button {
    height: 40px;
    width: 100%;
    background-color: #014FB3;
    color: #ffffff; }
  .logInBox #register-button {
    height: 40px;
    width: 100%;
    background-color: #FFE11B;
    color: white; }

.hello {
  color: #0fad00; }

.aboutUs .logoAbout {
  max-width: 250px;
  max-height: 250px; }
.aboutUs #history {
  text-align: justify; }
.aboutUs .img-thumbnail {
  max-width: 230px;
  max-height: 230px; }
.aboutUs #bio {
  text-align: justify; }

/*# sourceMappingURL=style.css.map */
