
$dark-blue: #15224F;
$light-blue: #014FB3;

$site-yellow: #FFE11B;

/** { 
	width: 0 auto;
    margin: 0 auto;
	background-color: green;
	 }*/

.button-style {
	      border: none;
	      padding: 10px 15px;
	      cursor: pointer;
	      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



body{
	margin: 0;
    padding: 0;
}


h1 {
	color: red;
	font-size: 25px;
}

p {
	color: yellow;
	font-size: 25px;
}

.header	{

	.nav-link {
		color: white;
		background-color: $dark-blue;
		height: 30px;
		text-align: right;	
	}

	.searchbar {
		height: 100%;
		background-color: $light-blue;
		color: white;
		height: 80px;
		padding-left: 60px;
		padding-right: 60px;
	}

    #sellButton {
		@extend .button-style;
		margin: 10% 0px;
		background-color: $site-yellow;
        padding: 10px 15px;
		width: 100%;
	}

	#logoMain {
		height: 100%;
	}



}